#fields {
    border-bottom : solid 1px #ccc;
    width: 100%;
}

#fields td {
    padding : 20px;
}

#lang_field,
#country_field {

}

#nav {
    width : 100%;
    background-color : #fff7e5;
    margin-top : -20px;
}

#nav td {
    text-align : center;
    border: 1px solid #999;
}

div.results {
    padding : 20px;
}
table.data {
    margin-left : 20px;
    margin-top : 20px;
}

div.results table.data tbody {
    height : 600px;
    overflow: auto;
}

table.data tbody {
    text-align: center;
    font-size : 14px;
}
table.data thead {
    font-size : 14px;
}
table.data td, table.data th {
    width: 180px;
}
table.data td:first-child, table.data th:first-child {
    width: 80px;
}
table.data td:last-child, table.data th:last-child {
    width: 80px;
}

table.data > tbody, table.data thead > tr {
    display: block;
}

table.data tbody tr:hover {
    background-color: #ccc;
}

table td {
    vertical-align: top;
}
h2 {
    padding-left : 20px;
}
#main {
    width : 1024px;
    margin : 20px auto;
}